.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.new-course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px;
  
  width: 50%;
  height: 50%;

  background-color: rgb(23, 20, 92);
}